// - Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
// - Dark Blue (main background): hsl(218, 28%, 13%)
// - Dark Blue (footer background): hsl(216, 53%, 9%)
// - Dark Blue (testimonials background): hsl(219, 30%, 18%)

// - Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
// - Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
// - Light Red (error): hsl(0, 100%, 63%)

// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;

$DarkBlue: hsl(217, 28%, 15%);
$DarkBlue--Main: hsl(218, 28%, 13%);
$DarkBlue--Footer: hsl(216, 53%, 9%);
$DarkBlue--Testimonials: hsl(219, 30%, 18%);

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$LightRed: hsl(0, 100%, 63%);
$White: hsl(0, 0%, 100%);
